<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/about.css">
    <title>EaziCart | About Us</title>
</head>
<body>
    <div class="header">
        <div class="head1">
            <div class="sub-header1">
                <a href="/"><img src="./img/EaziCart logo-White.svg" alt="logo" class="logo"></a> 
                <form id="search-form">
                    <div id="font-input-box">
                        <i class="fas fa-search"></i><input type="text" id="search-input" placeholder="Search For Items, Brands And Juicy Items">
                    </div>
                    <button type="submit" id="search-btn">Search</button>
                </form>
              </div>
            <div class="sub-header2">
                 <ul id="top">
                     <li id="li"><i class="fas fa-user"></i></li>
                     <li id="li"><i class="fas fa-heart"></i></li>
                     <li id="li"><i class="fas fa-bell"></i></li>
                     <li id="li"><i class="far fa-question-circle"></i></li>
                 </ul>
            </div>
        </div>
        
            
    </div>

    <div class="main-container">

        <div class="first-part">
            <div id="background">
                <div class="head2">
                    <ul id="below">
                        <li>All Categories<i class="fas fa-bars"></i></li>
                        <li><i class="fas fa-mobile"></i>Phones</li>
                        <li><i class="fas fa-laptop"></i>Computer & Accessories</li>
                        <li><i class="fas fa-tv"></i>Eletronics</li>
                        <li><i class="fas fa-tshirt"></i>Fashion</li>
                        <li><i class="fas fa-home"></i>Home & Kitchen</li>
                        <li><i class="far fa-building"></i>Office</li>
                    </ul>
                 </div> 
            </div>
            <div class="cat-section-text">
                <p><span id="home">Home<i class="fas fa-chevron-right fa-sm"></i></span><span id="main-section">About Us</span></p>
            </div>  
            <p id="pp">About Us</p>
              
            <table>
                <tr>
                    <td><p>Company Overview</p></td>
                    <td><p>Cultures and Values</p></td>
                    <td id="td-right"><p>Our Leaders</p></td>
                </tr>
            </table>  

            <div class="overview">
                <div id="over1">
                    <p><b>Company Overview</b></p>
                </div>
                <div id="over2">
                    <img src="./img/overview.png" width="1364px">
                </div>
                <div id="smarter">
                    <p>We guide customers to make smarter buying decisions</p>
                </div>
            </div>
        </div>

        <div class="closing-txt">
            <p id="closing-txt">Eazycart.com is Nigeria’s leading online price comparison site that allows you to shop 
                online for the best deals and lowest prices. Our mission is to help consumers use the power of information to easily find,
                 compare and buy products online in less time and for the best price. You can read unbiased product reviews and compare 
                 prices online. Online shopping has never been as easy! Browse our large selection of fashion, clothing, consumer 
                 electronics, home and garden producsts now 
            </p>
        </div>
        <hr/>
        <div id="third-part">
            <p>Culture and Values</p>
        </div>
        <div class="third-part">
            <div class="value">
                <div id="value"> <img src="./img/mission.png"> </div>
                <p class="parag">Mission</p>
                <p class="para"> To make comerce trade easy and<br/>
                    accessible to everyone across<br/>
                   Africa 
                </p>
            </div>        
            <div class="value">
                <div id="value"> <img src="./img/Vision.png"> </div>
                <p class="parag">Vision</p>
                <p class="para">To be a company employees, customers and<br/>
                society are proud of and depend on</p>
            </div>        
            <div class="value">
                <div id="value"> <img src="./img/Value2.png"> </div>
                <p class="parag">Values</p>
                <p class="para"> Honour and intergrity, Passion, Teamwork and Sacrifice<br/>
                    Constant Evolution, Hardwork, Customer Satisfaction 
                </p>
            </div>        
        </div>
        <div class="leaders">
            <div id="leaders">
                <img src="./img/girl.png">
            </div>
            <div id="leader">
                <p>Our Leaders</p>
                <p id="lead">Meet the leaders at EaziCart who are shaping the vision for our <br/>
                    company and driving the future of ecommerce forward in Africa 
                </p>
                <p id="lead1"><a href="#">Learn More</a></p>
            </div>
        </div>
        <p class="lastpara">
            Eazycart.com is Nigeria’s leading online price comparison site that allows you to shop online for the best deals and lowest prices. Our mission<br/>
            is to help consumers use the power of information to easily find, compare and buy products online in less time and for the best price. You can<br/>
            read unbiased product reviews and compare prices online. Online shopping has never been as easy! Browse our large selection of fashion, <br/>
            clothing, consumer electronics, home and garden producsts now 
        </p>
    </div>

    <div class="footer">
        
        <div class="list-footer">
            <div class="footera">
                <div class="a">
                    <p id="footer-head">About EaziCart</p>
                    <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Our Blog</li>
                    <li>Contact Us</li>
                    <li>Privacy</li>
                    <li>User Agreement</li>
                    </ul>
                </div>
                
                <div class="c">
                    <p id="footer-head">Follow</p>
                    <ul>
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    </ul>
                </div>
                <div class="d">
                    <p id="footer-head">Download & Connect with us</p>
                    <div class="store-img">
                       <a href=""><i class="fab fa-google-play play-img"></i></a> 
                       <a href=""><i class="fab fa-apple play-img"></i></a> 
                    </div>
                    <div class="f-contact">
                        <div class="f-font-mail">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="f-text-mail">
                            <p id="f-support">E-Mail Support</p>
                            <p id="f-mail">eazicart22@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerb">
                <p class="copyright-text">Copyrigth &copy; 2020 EaziCart.com All rights Reserved</p>
            </div>

        </div>
    </div>
</body>
</html>