<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EaziCart | Sign In</title>
    <link rel="stylesheet" href="styles/sign.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div class="header-logo">
            <a href="/"><img src="./images/Eazicart logo new 3.svg" width="70" alt="Eazi Cart Logo"></a>
        </div>
        <div class="container-register">
            <div class="info-center">
                <div id="new1"><a style="text-decoration: none;" href="./signup"><h2>New To EaziCart?</h2></a></div>
                <div id="new"><h2>Already Registered?</h2></a></div>
            </div>
            <% errors.forEach(function(error) { %>
                <div class="alert" role="alert">
                    <%= error %>
                </div>
            <% }) %>

            <h3>LOG IN WITH EMAIL</h3>
            <form class="form1" method="POST" action="/login">
                <label for="email">Username:</label><br>
                <input type="text" name="username" id="email" required><br>
                <label for="password">Password:</label><br>
                <span class="eye1" onclick="myFunction()">
                    <i id="hide1" class="fa fa-eye"></i>
                    <i id="hide2" class="fa fa-eye-slash"></i>
                </span>
                <input type="password" id="myInput" name="password"><br>  
                <button class="signup1" type="submit">LOG IN</button>   <br>
                <a id="pass" href="#">Forgot Password?</a>           
            </form>
            <div class="or1"><b>OR</b></div>
                <hr>
                <h3>LOG IN WITH...</h3>
            <div class="social-container">
                <div class="social"><a href="#"><img src="./images/Google Button.png" alt="google" width="100%" height="100%"></a></div>
                <div class="social"><a href="#"><img src="./images/qqq.png" alt="apple button" width="100%" height="100%"></a></div>
            </div>
            <div class="social-container1">
                <div class="social"><a href="#"><img id="loki" src="./images/Facebook Button.png" alt="facebook" width="100%" height="100%"></a></div>
                <div class="social"><a href="#"><img src="./images/Twitter Button.png" alt="twitter" width="100%" height="100%"></a></div>
            </div>                
        </div>
    </div>
    <script>
        function myFunction (){
  let a = document.getElementById("myInput");
  let b = document.getElementById("hide1");
  let c = document.getElementById("hide2");

  if(a.type === "password"){
      a.type = "text";
      b.style.display = "block";
      c.style.display = "none";
  }
  else{
      a.type = "password";
      b.style.display = "none";
      c.style.display = "block";
  }
}
    </script>
</body>
</html>