<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EaziCart | Sign In</title>
    <link rel="stylesheet" href="styles/sl.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div class="header-logo">
            <a href="/"><img src="./img/Eazicart logo 1.png" width="70" alt="Eazi Cart Logo">
            </a>
        </div>
        <div class="container-register">
            <div class="info-center">
                <div id="new1"><a style="text-decoration: none;" href="/signup"><h2>New To EaziCart?</h2></a></div>
                <div id="new"><h2>Already Registered?</h2></a></div>
            </div>

            

            <h3>LOG IN WITH EMAIL</h3>
            


            <form class="form1" action="/login" method="POST">
              

                <label for="email">Username:</label><br>
                <input type="text" name="username" id="email" required><br>
                <label for="password">Password:</label><br>
            
                <input type="password" id="myInput" name="password"><br>  
                <button class="signup1" type="submit">lOG IN</button>   <br>
                <a id="pass" href="#">Forgot Password?</a>           
            </form>

            <div class="or1">OR</div>
                <hr>
                <h3>LOG IN WITH...</h3>
            <div class="social-container">
                <div class="social"><a href="#"><img src="./img/google.png" alt="google" width="90%"></a></div>
                <div class="social"><a href="#"><img src="./img/Untitled1.png" alt="google" width="100%" height="100%"></a></div>
            </div>
            <div class="social-container1">
                <div class="social"><a href="#"><img src="./img/facebook.png" alt="google" width="95%"></a></div>
                <div class="social"><a href="#"><img src="./img/twitter.png" alt="google" width="90%"></a></div>
            </div>                
        </div>
    </div>
</body>
</html>