<div class="row">
    <div>
        <ul>
            <li>
                <span></span>
                <strong>Title</strong>
                <span>&#8358;12</span>
                <div class="btn">
                    <button type="button">Action <span></span></button>
                    <ul>
                        <li><a href="">Reduce by 1</a></li>
                        <li><a href="">Remove by 1</a></li>
                    </ul>

                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div>
        <strong>Total</strong>
    </div>
</div>

<hr>

<div class="row">
    <div>
        <button>Check Out</button>
    </div>
</div>

<div class="row">
    <div>
        <button>noitem in cart</button>
    </div>
</div>