<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EaziCart | Sign Up</title>
    <link rel="stylesheet" href="styles/sl.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div class="header-logo">
            <a href="/"><img src="./img/Eazicart logo 1.png" width="70" alt="Eazi Cart Logo"></a>
            
        </div>
        <div class="container-register">
            <div class="info-center">
                <div id="new"><h2>New To EaziCart?</h2></div>
                <div id="already"><a style="text-decoration: none" href="./login.html"><h2>Already Registered?</h2></a></div>
            </div>
            <h3>SIGN UP WITH...</h3>
            <div class="social-container">
                <div class="social"><a href="#"><img src="./img/google.png" alt="google" width="90%"></a></div>
                <div class="social"><a href="#"><img src="./img/Untitled1.png" alt="google" width="90%" height="100%"></a></div>
            </div>
            <div class="social-container">
                <div class="social"><a href="#"><img src="./img/facebook.png" alt="google" width="95%"></a></div>
                <div class="social"><a href="#"><img src="./img/twitter.png" alt="google" width="90%"></a></div>
            </div>
            <p><b>Signing up with social is super quick. No extra passwords to remember - no brain fail. Don't worry, 
                we'd never share any of your data or post anything on your behalf</b></p>
                <div class="or">OR</div>
                <hr>
       
              
                Validation Errors
                <h3>SIGN UP USING YOUR EMAIL...</h3>
                <form class="form" action="/signup" method="POST">


                    <label for="user">Username:</label><br>
                    <input type="text" name="user" id="email" required><br>
                    <label for="email">Email Address:</label><br>
                    <input type="email" name="email" id="email" required><br>
                    <span class="spans">We'll send your other confirmation here</span><br>
                    <label for="firstname">First Name:</label><br>
                    <input type="text" name="firstname" id="firstname" required><br>
                    <label for="lastname">Last Name:</label><br>
                    <input type="text" name="lastname" id="lastname" required><br>
                    <label for="password">Password:</label><br>
                    
                    <input type="password" id="myInput" name="password" required><br>
                    <label for="" class="email">Must be 6 or more characters</label><br><br><br>

                            <span class="terms">
                                By creating your account, you agree to our <a href="#">Terms and conditions</a> & <a href="#">Privacy Policy</a>
                            </span>
                            <button class="signup" type="submit">CREATE ACCOUNT</button>
                    </div>
                </form>
                
                
        </div>
        
    </div>
</body>
</html>