*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;    
}

body{
    color: black;
    width: 1440px;
    height: 3149px; 
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;

}

.header{
    height: 3.5%;
    align-items: center;
    background: #FF8200;
}

.head1{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.sub-header1{
    width: 50%;
    height: 100%;   
    position: relative; 
}

.logo{
    position: absolute;
    width: 130px;
    height: 95px;
    top: -07px;
    left: 0;
}

    
#search-form{
    height: 52px;
    width: 773px;
    margin-top: 2.38%;
    display: flex;
    margin-left: 35%;
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

#font-input-box{
    width: 628px;
    height: 52px;
    border: 1px solid white;
    align-items: center;
    padding: 1% 0 0 2% ;
}

.fa-search{
    color: white;
}

#search-input{
    width: 500px;
    background-color: transparent;
    opacity: 3;
    font-size: 24px;  
    border: 0;
    padding-left: 3%; 
}

#search-btn{
    border: 0;
    margin-left: 2%;
    width: 139px;
    height: 51.5px;
    background: #FFFFFF;
    color: #FF8200;
    border-radius:7px;
    font-family: Encode Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
}

button:focus {
    border: 0px;
    outline: none;
}

input:focus {
    border: 0.1px;
    outline: none;
    color: white;
}

input::placeholder{
    padding-left: 0.5%;
    color: white;
}

.fa-user, .fa-heart, .fa-bell, .fa-question-circle{
    margin-right: 1%;
    color: white;
}



.sub-header2{
    width: 50%;
    justify-content: flex-end;
    text-align: right;
    height: auto;
    

    }

ul{
        margin-right: 2%; 
    }

    #li{
        display: inline;
        justify-content: flex-end;
        margin-right: 5%;   
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: center;
        font-family: Encode Sans;
 
    }






.main-container{
    height: 86.5%;   
    background-color: white;
}

.first-part{
    height: 46%;
    width: 100%;
}

#background{
    height: 100%;
    background-image: url(../img/best.jpeg);
    background-size: cover;
    background: rgba(83, 54, 54, 0.5),
    url(../img/best.jpg);
}

.head2{
    
    height: 05%;    
    align-items: center;
}

#below{
    padding-top: 1.5%;
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.head2 ul li{
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}


.fa-bars{
    color: #FFFFFF;
    margin-left: 5px;    
}

.fa-mobile, .fa-tv, .fa-laptop, .fa-tshirt, .fa-home, .fa-building{
    margin-right: 5px;
}

.head3{
    background: white;
    height: 95%;
}



.cat-section-text{
    width: 95%;
    padding-top: 2%;
    height: 8%;
}

#home, #category, #section, #sub-section, #main-section{
    font-family: Encode Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;    
    color:black;
    
}


#main-section{
    color: #FF8200;
    font-weight: 600;
}
.fa-chevron-right{
    font-size: 17px;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.fa-chart-line{
    margin-right: 20px;
}




.font-categories{  
    display: flex;
    transition: transform 3.5s ease-in-out;
    transform: translateX(0);
}

.detail-box{
    height: 60%;
    width: 95%;
    display: flex;
}

.detail-img{
    width: 35%;
    height: 100%;
}

#detail-jpg{
    width: 100%;
    height: 80%;
}



.detail-details{
    width: 34.5%;
    height: 100%;

}

#detail-logo{
    width: 031%;
    height: 04%;
    margin: 4% 0 0 37%;  
}

#detail-name{
    font-family: Encode Sans;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #525252;
    margin-left: 7%;
    margin-top: 4%;
}

#detail-details-ul{
    margin: 10% 0 0 07%;
}

#detail-details-list{
    list-style: disc;
    font-family: Encode Sans;
    font-style: normal;
    font-size: 14px;
    margin-top: 0px ;
    line-height: 22px;
    font-weight: 700;
    color: #525252;
    margin-bottom: 3px;
}

#store-btn{
    background: #FF8200;
    width: 264px;
    height: 57px;
    border-radius: 7px;
    margin: 8% 0 0 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    font-size: 22px;
    font-style: normal;
    font-family: Encode Sans;
    line-height: 34px;
    font-weight: 700;
    color: white;
    border: 0;
}

#store-btn:hover{
    color: #FF8200;
    border: 1px solid #C0BCBC;
    background: white;
}

.fa-shopping-bag{
    margin: 0;

}





.detail-price-box{
    width: 30.5%;
    height: 100%;
}

#price-history{
    width: 95%;
    border: 1px solid #C0BCBC;
    -webkit-border-before-width: 2px;
    margin-top: 4%;
    height: 65%;
}

#history-heading{
    font-family: Encode Sans;
    font-style: normal;
    font-size: 28px;
    margin-top: 6px ;
    line-height: 35px;
    font-weight: 600;
    margin-left: 17%;
    margin-bottom: 5%;
}

#price-label{
    font-family: Encode Sans;
    font-style: normal;
    font-size: 20px;
    margin-top: 6px ;
    line-height: 25px;
    font-weight: 600;
    margin-left: 5%;
    margin-bottom: 3%;
}

#main-price{
    font-family: Encode Sans;
    font-style: normal;
    font-size: 18px;
    margin-top: 6px ;
    line-height: 22px;
    font-weight: 700;
    margin-left: 5%;
    margin-bottom: 3%;
    color: #1d1d1d;
}

#price-history-heading{
    font-family: Encode Sans;
    font-style: normal;
    font-size: 16px;
    margin-top: 6px ;
    line-height: 25px;
    font-weight: 600;
    margin-left: 5%;
    margin-right: 4%;
    margin-bottom: 5%;
    margin-top: 5%;
    color: #1d1d1d;
}

#price-history-list{
    font-family: Encode Sans;
    font-style: normal;
    font-size: 18px;
    margin-top: 6px ;
    line-height: 22px;
    font-weight: 700;
    margin-left: 5%;
    margin-bottom: 4%;
    color: #282828;
}

#save-alert-box{
    height: 13.5%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;

}

#save-btn, #alert-btn{
    width: 158px;
    height: 70px;
    font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid #C0BCBC;
    color: #000000;
    border-radius: 20px;
}

#compare-btn{
    
    border-radius: 20px;
    border: 1px solid #C0BCBC;

    height: 68px;
    width: 368px;
    font-family: Encode Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    margin-left: 4.0%;
    font-family: Encode Sans;

}



/* pop up form for price alert */
.hover_bkgr_fricc{
    position: absolute;
    width: 788px;
    height: 705px;
    left: 374px;
    top: 411px;
    display: none;
    background: white;
    border-radius: 30px;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 09px;
    right: 09px;
    font-size: 29px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#helpers{
    height: 95%;
   
}

#popup-form-container{
    margin-top: 7%;
    width: 95%;
    height: 95%;
}

#popup-heading{
    font-family: Encode Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5%;
    color: #000000;
}

#popup-details{
    display: flex;
    align-items: center;
    margin-top: 11%;
    width: 95%;
}

#price-alert-form{
    margin-top: 6%;
}

#paf-text{
    font-family: Encode Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5%;
    color: #000000;
}
#pd-txt{
    font-family: Encode Sans;
    font-size: 24px;
    margin-left: 2%;
    margin-right: 1%;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

#ps-txt{
    font-family: Encode Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

#pd-img{
    height: 93px;
    width: 126px;
    left: 422px;
    top: 508px;
    border-radius: 0px;

}

#form-number{
    margin-right: 4%;
}

#form-radio{
    margin-left: 7%;
   
}

#fn-input{
    height: 47px;
    width: 102px;
    left: 975px;
    top: 775px;
    border-radius: 0px;
    border: 1px solid #C0BCBC;
    font-family: Futura PT;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-left:2% ;

}

#fn-input:focus{
    padding-left:2% ;

    color: #000000;
    font-family: Encode Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;


}

#naira{
    font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

#fr-radio{
    font-size: 90px;
    margin-bottom: 9%;
    
}

#fr-radio-label{
    margin-bottom: 9%;
    font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}


#form-number{
    margin-top: 3.5%;
}

#input-flex{
    display: flex;
    margin-top: 5%;
}

#stock-option{
    margin-top: 8%;
    margin-left: 7%;
    font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

#paf-btn{
    height: 79px;
    width: 689px;
    background: #FF8200;
    color: #F8F8F8;
    font-family: Encode Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 7px;
    margin: 3% 4%;
    border: 0;
}

/* end */



.pl{
    color: #000000;
    margin-right: 23px;
}




#compare-box{
    width: 95%;
    height: 15%;
    align-items: center;
}





.fa-chart-bar{
    margin-right:23px ;
}

.other-store-box{
    height: 32%;
    width: 95%;
}

.osb-box{
    height: 20%;
    border: 1px solid #C0BCBC;
    border-radius: 5px 5px 0px 0px;

}

#osb-text{
    font-family: Encode Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1.5%;
    margin-left: 2.5%;
    color: #000000;

}


.osp-box{
    border-radius: 0px 0px 5px 5px;
    height: 80%;
    display: flex;
    border: 1px solid #C0BCBC;
    border-top: 0px;
}

.osp-img-box{
    width: 25%;
    height: 100%;
    position: relative;
    border-right: 1px  solid #C0BCBC;
} 
#osp-img-jpg{
    width: 85%;
    height: 95%;
    margin: 2% 8%;
}

#rectangle{ height: 40px;
    position: absolute;
    width: 85px;
    left: 228px;
    top: 15px; 
    transform:rotate(10deg);  
    transform: skewY(-15deg); /* IE 9 */
    transform: skewX(-15deg);
    background: orange;
    padding-top: 2%;
    font-family: Encode Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}

.osp-details-box{
    width: 50%;
    border-right: 1px  solid #C0BCBC;
    

}

#odb-list{
    margin-top: 2%;
    font-family: Encode Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5%;
}

    #obd-lists{
        margin-top: 7%;
        font-family: Encode Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 5%;
        margin-bottom: 4%;
        
    }

    #huncho{
        font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

    }


#osp-logo-img{
    width: 16%;
    height: 012%;
    margin-left: 5%;
    margin-top: 2%;
}

.osp-store-box{
    width: 25%;

}
#osp-store-btn{
    background: #FF8200;
    width: 264px;
    height: 57px;
    border-radius: 7px;
    margin: 22% 0 0 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    font-size: 22px;
    font-style: normal;
    font-family: Encode Sans;
    line-height: 34px;
    font-weight: 700;
    color: white;
    border: 0;
}

#osp-store-btn:hover{
    color: #FF8200;
    border: 1px solid #C0BCBC;
    background: white;
}



/* Carousels */




#txt{
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: underline;
}




.second-part{
    height: 26%;
    width: 95%;
    display: flex;
    justify-content: space-around;
}


#detail-features, #detail-spec{
    width: 45%;
    border: 1px solid #C0BCBC;
    border-radius: 7px;
    height: 80%;
    margin-top: 1%;
}

#dt-text, #ds-text{
    font-family: Encode Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin: 4% 0 03% 7%;
}

#sp-lists{
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin: 01% 0 0 12%;
    

}

#dtf-list, #ds-list{
    list-style: disc;
    margin-bottom: 5%;
}








.fa-angle-down{
    color: #FF8200;
    margin-left: 1.5%;

}



h3{
    margin-left: 4%;
}












.third-part{
    height: 28%;
    width: 95%;
}

#recent-picks{
    width: 95%;
    background: #F8F8F8;
    height: 73%;  
}

.recent-text{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#recent-btxt{
    margin: 0 0 0 2%;
    font-family: Encode Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-align: left;
}

#recent-stxt{
    margin: 0% 3% 0 0;
    cursor: pointer;
    width: 90px;  
    color: #FF8200;
    font-family: Encode Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}


.recent-gallery{
    display: flex;
    justify-content: space-around;
    height: 80%;
    margin-top: 2%;
    align-items: center;
}

.recent-pack{
    margin: 0;
    background: white;
    height: 100%;
    width: 18%;
    position: relative;
    align-items: center;
    box-shadow:1px 04px #a5a3a1;  
    border-radius: 9px;
}

.recent-pack:hover{
    box-shadow:2px 2px 07px 7px  #FF8200;   
}

#recent-rectangle{ height: 30px;
    position: absolute;
    width: 65px;
    left: 158px;
    top: 21px; 
    transform:rotate(10deg);  
    transform: skewY(-15deg); /* IE 9 */
    transform: skewX(-15deg);
    background: orange;
    padding-top: 2%;
    font-family: Encode Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}

.recent-box{
    height: 65%;
    align-items: center;
}

.recent-discount{
    text-align: right;
    margin-top: 3%;
    margin-right: 4%;
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    
}

.recent-img{
    width:90%;
    height:90%;
    border-radius: 5%;
    margin-top: 0%;
    margin-left: 5%;
}
.recent-logo{
    width: 30%;
    height: 8%;
    margin-left: 35%;
    margin-top: 1%;
}

.recent-name{
    font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 2%;
    margin-bottom: 3%;
}

.recent-price, .recent-old-price{
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 2%;
    margin-top: 2%;    
}

.recent-old-price{
    text-decoration: line-through;
    font-size: 16px;
}

.closing-txt{
    height: 30%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 3%;
}

#closing-txt{
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    width: 1009px;
}








.footer{
    height: 10%;
    display: flex;
    flex-direction: column;
    background: #153B50;
    
}



button:focus {
    border: none;
    outline: none;
}

input:focus {
    border: none;
    outline: none;
}

.list-footer{
    height: 100%;
    width: 100%;
    color: #FFFFFF;
}

.fab{
    color: #ffffff;
}

.footera{
    height: 80%;    
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

li{
    list-style-type:none;
    margin-left: 0;
}
.b{
    width: 9%;
}



ul{
    margin-right: 2%; 
}

.footerb{
    height: 20%;
}

.copyright-text{
    text-align: center;
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    

    
}

.play-img{
    font-size: 80px;
    margin-right: 3%;
}


.a, .b, .c, .d{
    width: 25%;
    font-family: Futura PT;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

#footer-head{
    margin-bottom: 3%;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}


a{
    text-decoration: none;
    color: black;
}



.f-contact{
    width: 70%;  
    align-items: center; 
    display: flex;
    margin: 9% 4% 0 0;
}

.f-font-mail{
    border-radius: 100%;
    background-color: white;
    padding: 7px;
}

.fa-envelope{
    font-size: 30px;
    color: #153B50;


}

.f-text-mail{
    margin-right: 7px;
}


#f-support{
    font-family: Encode Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}

#f-mail{
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}


.multi{
    color: #FF8200;
    background: -webkit-linear-gradient(green, red);
    background: -webkit-linear-gradient(270deg, rgba(227,58,43,1) 38%, rgba(82,180,58,1) 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#cash-text{
    margin-right: 1px;
}