*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;  
}



body{
    height: 100%;
    width: 1440px;
  /*  height: 2150px; */ 
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: Encode Sans;
}



.header{
    height: 96px;
    align-items: center;
    background: #FF8200;
}

.head1{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.sub-header1{
    width: 50%;
    height: 100%;   
    position: relative; 
}

.logo{
    position: absolute;
    width: 130px;
    height: 95px;
    top: -07px;
    left: 0;
}

    
#search-form{
    height: 52px;
    width: 773px;
    margin-top: 2.38%;
    display: flex;
    margin-left: 35%;
    
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

#font-input-box{
    width: 628px;
    height: 52px;
    border: 1px solid white;
    align-items: center;
    padding: 1% 0 0 2% ;
    color: white;
}

.fa-search{
    color: white;
}

#search-input{
    width: 500px;
    background-color: transparent;
    opacity: 3;
    font-size: 24px;  
    border: 0;
    padding-left: 3%; 
    color: white;
}

#search-btn{
    border: 0;
    margin-left: 2%;
    width: 139px;
    height: 51.5px;
    background: #FFFFFF;
    color: #FF8200;
    border-radius:7px;
    font-family: Encode Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
}

button:focus {
    border: 0px;
    outline: none;
}

input:focus {
    border: 0.1px;
    outline: none;
    color: white;
}

input::placeholder{
    padding-left: 0.5%;
    color: white;
}

.fa-user, .fa-heart, .fa-bell, .fa-question-circle{
    color: white;
    margin-bottom: 30px;
}

.sub-header2{
    width: 50%;
    justify-content: flex-end;
    text-align: right;
    height: auto;
}

ul{
    margin-right: 2%; 
}

#li{
    display: inline;
    justify-content: flex-end;
    margin-right: 5%;   
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    font-family: Encode Sans;
    }

.main-container{
  /*  height: 1830px; */  
    width: 95%; 
    /* background-color: white; */
    /* border: 4px solid darksalmon; */
}

.cat-section-text{
    width: 95%;
    padding-top: 1%;
    height: 6%;
    /* border: 3px solid red ; */
    margin-top: 20px;
}

#home, #main-section{
    font-family: Encode Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;    
    color:black;  
}



#main-section{
    color: #FF8200;
}
.fa-chevron-right{
    margin-left: 0.9%;
    margin-right: 0.9%;
}

#detail-name{
    font-family: Encode Sans;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #525252;
    margin-left: 7%;
    margin-top: 4%;
}

#store-btn{
    background: #FF8200;
    width: 264px;
    height: 57px;
    border-radius: 7px;
    margin: 8% 0 0 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    font-size: 22px;
    font-style: normal;
    font-family: Encode Sans;
    line-height: 34px;
    font-weight: 700;
    color: white;
    border: 0;
}

#store-btn:hover{
    color: #FF8200;
    border: 1px solid black;
    background: white;
}

.fa-shopping-bag{
    margin: 0;

}

#obd-lists{
    margin-bottom: 3px;
}

#osp-store-btn{
    background: #FF8200;
    width: 302px;
    height: 42px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    font-size: 16px;
    font-style: normal;
    font-family: Encode Sans;
    line-height: 22.16px;
    font-weight: 700;
    color: white;
    border: 0px;
}

#osp-store-btn:hover{
    color: #FF8200;
    border: 1px solid #FF8200;
    background: white;
}

#notify{
    width: 302px;
    justify-content: space-around;
    padding-top: 8px;
    display: flex;
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #153B50;
    font-family: Encode Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    color: #153B50;

}

.fa-angle-down{
    color: #FF8200;
    margin-left: 1.5%;

}

#pp{
    margin-left: 2.5%;
    color: black;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-top: 15px;
}

#items{
    text-align: right;
  /*  margin-top: 15px; */
  /*  margin-bottom: 50px; */
    font-weight: 500;
    font-size: 18px;
    color: black;
    line-height: 22.5px;
    font-style: normal;
}

.saved-contents{
    display: flex;
    /* border: 4px solid blue; */
   /* height: 900px; */
   /* width: 800px;*/
    margin-left: 40px;
    flex-wrap: wrap;
}

#saved-contents{
    width: 350px;
    padding: 0px;
    position: relative;
    margin-top: 30px;

}

#saved-contents:hover{
    box-shadow:1px 03px 9px 9px  #eceae8;   
}

#rm-rf{
    border-radius: 5px;
    border: 1px solid #153B50;
    width: 27px;
    height: 27px;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 19px;
    color:#153B50;
    background:whitesmoke;
    text-align: center;
    cursor: pointer;
    margin-top: 0;
}

#saved-content{
    /* border: 1px solid goldenrod; */
    width: 350px;
    height: 400px;
    margin-left: 0px;
    padding: 0px;
}

.apple, #amount, #discount, .discount, #details{
    margin-left: 5px;
}

#amount{
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.5px;
    font-style: normal;
}

#discount{
    text-decoration: line-through;
    margin-top: 09px;
    color: gray;
    font-weight: 600;
    font-size: 18px;
    line-height: 22.5px;
    font-style: normal;
    margin-bottom: 15px;
}

.discount{
    position: absolute;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FF8200;
    margin-top: -65px;
    margin-left: 250px;
}

.apple{
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    line-height: 25.5px;
    margin-bottom: 5px;


}

#detail{
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  /*  line-height: 138.5%; */
  margin-bottom: 10px;
    padding: 20px;
}

.sync{
    /* border: 4px solid blue; */
    margin-top: 120px;
    height: 217px;
    width: 1440px;
}

#image{
    height: 20px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

#sync{
    text-align: center;
    font-family: Encode Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    margin-bottom: 20px;
}

#third-part{
    font-weight: 800;
    font-size: 30px;
    color: white;
    padding-top: 20px;
    display: flex;
    height: 100px;
    width: 1335px;
    background-color: #153B50;
    margin-top: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.third-part{
    padding-top: 20px;
    display: flex;
    height: 202px;
    width: 1335px;
    margin-bottom: 80px;
    /* border: 2px solid navy; */
    margin-top: 60px;
}

#closing-txt{
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    width: 1009px;
    color: black;
}

/* footer */

.footer{
  /*  height: 10%; */
  width: 100%;

   display: flex;
  flex-direction: column; 
  height: 300px ;
  background: #153B50;   
  
}

button:focus {
    border: none;
    outline: none;
}

input:focus {
    border: none;
    outline: none;
}


.fab{
    color: #ffffff;
}

.footera{
    margin-top: 20px;
    height: 80%;    
    display: flex;
    flex-direction: row;
    /*justify-content: space-between; */
    width: 100%;
}
.flex{
    width: 900px;
    height: 100%;
    display: flex;
}
.a, .b, .c{
    width: 33.3%;
}
.d{
    width: 26%;
}

li{
    list-style-type:none;
    margin-left: 0;
}



ul{
    margin-right: 2%; 
}

.footerb{
    margin-top: 30px;
    height: 20%;
}

.copyright-text{
    color: white;
    text-align: center;
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
}

#saved-img{
    width: 100%;
}

.play-img{
    font-size: 80px;
    margin-right: 3%;
}

.a, .b, .c, .d{
    height: 100%;
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}

#footer-head{
    margin-bottom: 3%;
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

a{
    text-decoration: none;

}

.f-contact{
    width: 70%;  
    align-items: center; 
    display: flex;
    margin: 9% 4% 0 0;
}

.f-font-mail{
    border-radius: 100%;
    background-color: white;
    padding: 7px;
}

.fa-envelope{
    font-size: 30px;
    color: #153B50;


}

.f-text-mail{
    margin-right: 7px;
}


#f-support{
    font-family: Encode Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}

#f-mail{
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

