* {
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .4px;
    background-color: #eee;
    margin: 30px;
    font: bolder;
}

#container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 58%;
    max-width: 80px;
    background-color: white;
}

.header-logo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.container-register {
    background-color: #fff;
    padding-top: 1px;
    padding-bottom: 80px;
}

.info-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

h2{
        display: block;
        font-size: 1em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
}

#new{
    padding-right: 5%;
    padding-left: 5%;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
}

#new1{
    padding-right: 5%;
    padding-left: 5%;
    border-bottom: solid;
    border-width: 1px;
}

#new1 > a{
    color: black;
}

#already{
    padding-right: 5%;
    padding-left: 5%;
    border-bottom: solid;
    border-width: 1px;
}

#already > a{
    color: black;
}

h3{
    text-align: center;
    padding-bottom: 10px;
    margin-top: 24px;
    font-size: small;
}

.social-container{
    display: flex;
    padding-right: 20%;
    padding-left: 20%;
    flex-wrap: wrap;
    margin-left: 10%;  
}

.social-container1{
    display: flex;
    padding-right: 20%;
    padding-left: 20%;
    flex-wrap: wrap; 
    margin-bottom: 20px;
    margin-left: 10%;   
}

#loki{
    border: 0;
}

.social{
    
    margin: 2%;
    width: 150px;
    border: solid 1px black;
    height: 50px;
    /* padding-top: 2px; */
    /* padding-left: 4px; */
    
}

p{
    padding: 40px;
    text-align: center;
    font-size: small;
}

.or1{
    position: absolute;
    padding-left: 10px;
    margin-top: 40px;
    width: 40px;
    margin-left: 26%;
    background-color: white;
}

.or2{
    position: absolute;
    padding-left: 10px;
    margin-top: -5px;
    width: 40px;
    margin-left: 27%;
    background-color: white;
}

hr{
    margin-left: 40px;
    margin-bottom: 60px;
    margin-right: 40px;
    margin-top: 80px;
}

#hr1{
    margin-left: 40px;
    margin-bottom: 60px;
    margin-right: 40px;
    margin-top: 20px;
}

.form{
    margin-left: 60px;
    width: 80%;
}

.form1{
    margin-left: 200px;
    margin-bottom: 28px;
}

input{
    border-radius: 4px;
    width: 60%;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-width: 1px;
    padding: 20px;
    outline: none;
}

.firstName{
    display: flex;
    margin-top: 4%;
    margin-bottom: -3%;
}

.email{
    color: rgb(129, 126, 126);
    font-size: small;
}

#terms{
    margin-top: 40px;
    font-size: 15px;
    color: black;
}

.signup{
    margin-top: 50px;
    margin-bottom: 40px;
    width:60%;
    padding:10px;
    border:none;
    outline:none;
    background: #FF8200;
    color:#f5f5f5;
    font-size:13px;
    text-transform:uppercase;
    cursor:pointer;
    border-radius:5px;
}

.signup1{
    margin-top: 20px;
    margin-bottom: 10px;
    width:60%;
    padding:10px;
    border:none;
    outline:none;
    background: #FF8200;
    color:#f5f5f5;
    font-size:13px;
    text-transform:uppercase;
    cursor:pointer;
    border-radius:5px;
}

#hide1{
    display: none;
}

.eye {
    position: absolute;
    margin-left: 330px;
    margin-top: 20px;
  }

  .eye1 {
    position: absolute;
    margin-left: 300px;
    margin-top: 20px;
  }

  #pass{
      text-decoration: none;
      margin-left: 0px;
      color: black;
  }

  .fa-eye{
      color: gray;
  }
  .fa-eye-slash{
      color: gray;
  }