
/* body content */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1440px;
    height: 2845px;
    font-size: 19px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* header */
.header{
    height: 2.8%;
    align-items: center;
    background: #FF8200;
}

.head1{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.sub-header1{
    width: 50%;
    height: 100%;   
    position: relative; 
}

.logo{
    position: absolute;
    width: 130px;
    height: 90px;
    top: -07px;
    left: 0;
}



.sub-header2{
    width: 50%;
    justify-content: flex-end;
    text-align: right;
    height: auto;
}


.fa-user, .fa-heart, .fa-bell, .fa-question-circle{
    margin-right: 1%;
    color: #FFFFFF;
}

.fa-angle-down{
    color: #FFFFFF;
    margin-left: 1.5%;
}

ul{
        margin-right: 2%; 
    }

#li{
        display: inline;
        justify-content: flex-end;
        margin-right: 5%;   
        font-family: Encode Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }




    .drip-down{
        position: relative;
    }


    .dropdown{
        position: absolute;
        top: 35px;
        left: -110px;
        background: white;
        padding: 19px 0 0 0;
        border-radius: 5px;
        display: none;
        width: 300px;
        height: 150px;

      }

      .dropdown:before{
        content: "";
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        border: 10px solid;
        border-color: transparent transparent #fff transparent;
      }


      li.active .dropdown{
        display: block;
      }

      #drop-txt{
          margin-left: 40px;
          text-align: left;
          margin-bottom: 5px;
      }

      .dud{
          color: orange;
          margin-right: 10px;

      }

     
      



   


    


/* container */

.main-container{
    height: 87%;    
}

.first-part{
    height: 30%;
    text-align: center;
    align-items: center;
    background: white;
}

#background{
    height: 86.2%;
    background-image: url(../img/best.jpeg);
    background-size: cover;
    background: rgba(0, 0, 0, 0.5),
    url(../img/best.jpg);
}

.head2{
    z-index: 1;
    align-items: center;
}

#below{
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.head2 ul li{
    font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.fa-bars{
    color: #FFFFFF;
    margin-left: 5px;
    
}

.fa-mobile, .fa-tv, .fa-laptop, .fa-tshirt, .fa-home, .fa-building{
    margin-right: 5px;
}












#sub-part{
    margin: 5% auto;
    width: 95%;   
    height: 90%;
    padding: 4%;
    opacity: 7;

}

.intro{
    text-align: left;
    width: 85%;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: Encode Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: center;
    text-shadow: 0 0 3px rgb(187, 118, 29), 0 0 5px #865f3b;
}

#search-form{
    height: 87px;
    width: 1252px;
    margin-top: 2%;
    border-radius: 20px;
    border:1px;
    display: flex;

}
#dropdown{
    width: 283px;
    height: 87px;
   margin-left: 1%;
   border: 0;
}


#abtype{
    height: 100%;
    width: 100%;
    border: 0;
    background: #FFFFFF;
    font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #4D4D4D;
    align-items: center;
    padding: 2% 0 2% 5%;
}

#abtype:focus{
    border: 0;
}

#abtype:active{
    border: 0;
}



option{
    background: #FFFFFF;
    font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #4D4D4D;
    align-items: center;
    margin: 4%;
    
}


#search-input{
    width: 884px;
    height: 87px;
    border: 0;
    opacity: 3;
    font-size: 30px;    
}

#search-input::placeholder {
    font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #4D4D4D 80%;
  }

  
 

#search-btn{
    border: 0;
    width: 85px;
    height: 87px;
    background: #FF8200;
    color: antiquewhite;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

input{
    padding-left: 30px;
}

#sup-part{
    height: 13.8%;
    background: #F0EEF1;
}

.sub-footer{
    width: 100%;
    height: 100%;
    display: flex;
    color: black;        
}

.contact{
    width: 50%;  
    align-items: center;  
}

.text-mail{
    margin: 4% 0 0 7.5%;
}

#support{
    font-family: Encode Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: black;

}

#mail{
    font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #4D4D4D;
}



.subscribe{    
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}






#sub-inp{
    height: 62px;
    width: 400px;
    background-color: white;
    font-size: 20px;
    margin-right: 15px;
    border: 1px solid #454545;
    
}

#sup-inp::placeholder{
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #4D4D4D;
}


#sub-btn{
    height: 62px;
    width: 156px;    
    border: 1px solid #153B50;
    background: transparent;
    color: #153B50;
    font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}






.second-part{
    height: 70%;
    text-align: center;
    align-items: center;
    width: 100%;


}

.firstfour{
    height: 40%;
    width: 100%;    
    margin: 3% auto 3% auto;

}

.firbox{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background: #F8F8F8;
    position: relative;


}

.firbox-heading{
    display: flex;
    justify-content: space-between;
    height: 10%;
}

.firbox-btxt{
    margin: 0.5% 0 0 2%;
    font-family: Encode Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-align: left;
}

.firbox-stxt{
    margin: 1.5% 3% 0 0;
    cursor: pointer;
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    
    color: #FF8200;


}

.firbox-gallery{
    display: flex;
    justify-content: space-around;
    height: 90%;    
}

.firbox-box{
    background: #ffffff;;
    width: 18%;
    height: 98%;
    border-radius: 10px;
    position: relative;
}

.firbox-box:hover{
       box-shadow:2px 2px 07px 7px  #FF8200;   
}

#rectangle{ height: 27px;
    border-radius: 5px;
    position: absolute;
    width: 60px;
    left: 180px;
    top: 21px; 
    transform:rotate(10deg);  
    transform: skewY(-15deg); /* IE 9 */
    transform: skewX(-15deg);
    background: orange;
    padding-top: 1%;
    font-family: Encode Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}

.fir-img{
    width: 95%;
    height: 65%;
    margin: 3% 3% 0 3%;
}

.product-logo{
    width: 018%;
    height: 02.5%;
    margin: 2% 40% 4% 40%;  
}

#price-box{
    height: 80px;
    font-family: Encode Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1D1D;
    margin: 1% 4% 0% 4%;
}

#new-price-box{
    font-family: Encode Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;


    margin: 0% 4% 0 3%;

}

#old-price-box{
    font-family: Encode Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin: 1% 4% 0 3%;
    
    text-decoration: line-through;
}

.secondfour{
   
    height: 20%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    
    
}

#closing-txt{
    padding: 0 5%;
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    height: 92px;
    width: 88%;
    margin-top: 3%;
}




/* footer */


.footer{
    height: 10.2%;
    display: flex;
    flex-direction: column;
    background: #153B50;

       
}

.list-footer{
    height: 80%;
    width: 100%;
    color: #FFFFFF;

}

.footera{
    height: 85%;    
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

li{
    list-style-type:none;
    margin-left: 0;
}

.b{
    width: 9%;
}


.footerb{
    height: 10%;
    
}

.copyright-text{
    text-align: center;
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;  
}

.play-img{
    font-size: 98px;
    margin-right: 3%;
}


.a, .b, .c, .d{
    width: 25%;
    font-family: Encode Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

#footer-head{
    margin-bottom: 3%;
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}


/*end*/

a{
    text-decoration: none;
    color: black;
    
}

button:focus {
    border: 0px;
    outline: none;
}

input:focus {
    border: 0.1px;
    outline: none;
}

.fab{
    color: #ffffff;
}


.f-contact{
    width: 70%;  
    align-items: center; 
    display: flex;
    margin: 4% 4% 0 0;
}

.f-font-mail{
    border-radius: 100%;
    background-color: white;
    padding: 7px;
}

.fa-envelope{
    font-size: 30px;
    color:#5E6871 ;

}

.f-text-mail{
    margin-right: 7px;
}


#f-support{
    font-family: Encode Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}

#f-mail{
    font-family: Encode Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

#dud{
    text-decoration: underline;
    color: green;
}
